[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.0.1"
pytest-mock = "==3.2.0"
flake8 = "==3.8.3"

[packages]
flask = "==1.1.2"
confluent-kafka = "==1.5.0"
psycopg2-binary = "==2.8.5"
requests = "==2.22.0"
fastavro = "==0.23.4"
uwsgi = "==2.0.19.1"
jsonpickle = "==1.4.1"

[requires]
python_version = "3.8"
